<input id="IdEdit" hidden value="@Model.Id" />
<input id="txtMaHuyen" hidden value="@Model.MaHuyen" />
<input id="KetQuaOutput" data-ketqua="@ViewBag.KetQua" hidden />
<div id="ThongTinTinhBody">
    <div class="clearfix"></div>
    <div class="font-small row p-3">
        <div class="form-group col-12">
            <h6 class="p-1 text-info ">Thông tin chi tiết</h6>
            <hr class="my-1 mb-1">
        </div>
        <div class="col-md-6 col-12">
            <div class="col-12 p-0">
                <div class="row p-0 m-0 mb-1">
                    <label class="col-sm-3 float-left">Tỉnh</label>
                    <div class="col-sm-9 col-9 col-md-9 float-left input-group input-group-sm p-0">
                        <select id="danhSachTinh" class="form-control" onchange="DanhSachTinhChangeThem()">
                            <option value="">-- Chọn tỉnh --</option>
                            @foreach (var item in ViewBag.DanhSachTinh.DanhSach)
                            {
                                <option value="@item.Id">@item.Ten</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12 p-0">
                    <div class="row p-0 m-0 mb-1">
                        <label class="col-sm-3 float-left">Huyện</label>
                        <div class="col-sm-9 col-9 col-md-9 float-left input-group input-group-sm p-0">
                            <select class="form-control" id="DanhSachHuyenThem" name="DanhSachHuyenThem">
                                <option value="@Model.IdHuyen">@Model.TenHuyen</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="col-12 p-0">
                <div class="row p-0 m-0 mb-1">
                    <label class="col-sm-3 float-left">Mã xã</label>
                    <div class="col-sm-9 col-9 col-md-9 float-left input-group input-group-sm p-0">
                        <input id="txtMaXa" type="text" class="form-control mb-1" aria-label="Small" placeholder="Nhập mã xã" value="@Model.Ma">
                    </div>
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="row p-0 m-0 mb-1">
                    <label class="col-sm-3 float-left">Tên xã</label>
                    <div class="col-sm-9 col-9 col-md-9 float-left input-group input-group-sm p-0">
                        <input id="txtTenXa" type="text" class="form-control mb-1" aria-label="Small" placeholder="Nhập tên xã" value="@Model.Ten">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            var Jsoninputdata = {
                TuKhoa: ""
            };
        });
</script>


