@model MVCProjectStructure.Models.CommonModel.CommonVaiTro.VaiTroOutput.ThongTinVaiTro
@using Common.Enum;
@{
    ViewBag.Title = "Thêm cập nhật vai trò";
    Layout = ChucNang.GiaoDien.SBAdmin;
    ViewBag.active = ChucNang.Ma.VaiTro;
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@ChucNang.DuongDan.BangDieuKhien"><i class="fa fa-tachometer"></i> Bảng điều khiển</a>
    </li>
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","VaiTro",new { area = "NguoiDung" })"> Quản lý vai trò</a>
    </li>
    <li class="breadcrumb-item active">Quản lý vai trò người dùng</li>
</ol>

<input id="Id" name="Id" value="@Model.Id" hidden />
<div>
    <div class="row">
        <input id="KetQuaOutput" data-ketqua="@ViewBag.KetQua" hidden />

        <div class="col-sm-6">
            <div class="row mb-3"><div class="col"><h5 class="font-weight-bold">Thông tin vai trò</h5></div></div>
            <div class="row mb-3">
                <div class="col-3 float-left">
                    <label for="TieuDe" class="control-label">Tên vai trò: </label>
                </div>
                <div class="col-6 float-left">
                    <input type="text" id="TenVaiTro" name="TenVaiTro" required class="form-control form-control-sm" value="@Model.Ten" placeholder="Tên vai trò" title="Tên vai trò">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 float-left">
                    <label for="NenTang" class="control-label">Đơn vị: </label>
                </div>
                <div class="col-6 float-left">
                    <select id="NenTang" name="NenTang" class="form-control form-control-sm w-100">
                        @if (ViewBag.DanhSachDonVi != null)
                        {
                            foreach (var item in ViewBag.DanhSachDonVi)
                            {
                                <option value="@item.Id">@item.Ten</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 float-left">
                    <label for="ThuTu" class="control-label">Thứ tự: </label>
                </div>
                <div class="col-6 float-left">
                    <input type="number" id="ThuTu" name="ThuTu" class="form-control form-control-sm" value="@Model.ThuTu" placeholder="Thứ tự" title="Thứ tự">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 float-left">
                    <label for="MoTa" class="control-label">Mô tả: </label>
                </div>
                <div class="col-6 float-left">
                    <input type="text" id="MoTa" name="MoTa" class="form-control form-control-sm" value="@Model.MoTa" placeholder="Mô tả" title="Mô tả">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h5 class="font-weight-bold">Danh sách chức năng phân quyền cho tài khoản</h5>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Web">Chức năng trên web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Mobile">Chức năng trên mobile</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active container-fluid p-0" id="Web">
                    <div class="scrollbar scrollbar-custom" style="max-height:600px;">
                        <ol id="listCN_Web" style="list-style-type:none;" class="p-0">
                            <li class="checkbox" style="padding-top:0">
                                <div>
                                    <input type="checkbox" name="IdChucNangs" value="5b972aa27866f8233c0e7f5d,0" id="cn5b972aa27866f8233c0e7f5d" class="cn0" onchange="Xuly_checkbox_chucnang(this)">
                                    <label for="cn5b972aa27866f8233c0e7f5d" style="padding-left:0">Sở Nông nghiệp</label>
                                    <input type="checkbox" name="" value="Them" class="cn0">
                                </div>
                                <ul style="list-style-type:none">
                                    <li class="checkbox" style="padding-top:0"><div><input type="checkbox" name="IdChucNangs" value="5b972b067866f8233c0e7f5e,5b972aa27866f8233c0e7f5d" id="cn5b972b067866f8233c0e7f5e" class="cn5b972aa27866f8233c0e7f5d" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b972b067866f8233c0e7f5e" style="padding-left:0">Thông tin báo cáo</label></div></li>
                                </ul>
                            </li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6aefc2fc8c662404282376,0" id="cn5a6aefc2fc8c662404282376" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6aefc2fc8c662404282376" style="padding-left:0">Giá cả thị trường</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af090fc8c662404282377,5a6aefc2fc8c662404282376" id="cn5a6af090fc8c662404282377" class="cn5a6aefc2fc8c662404282376" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af090fc8c662404282377" style="padding-left:0">Giá trong tỉnh</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af0bcfc8c662404282378,5a6aefc2fc8c662404282376" id="cn5a6af0bcfc8c662404282378" class="cn5a6aefc2fc8c662404282376" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af0bcfc8c662404282378" style="padding-left:0">Giá tỉnh lân cận</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af0e0fc8c662404282379,5a6aefc2fc8c662404282376" id="cn5a6af0e0fc8c662404282379" class="cn5a6aefc2fc8c662404282376" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af0e0fc8c662404282379" style="padding-left:0">Giá hiệp hội</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b75a3ee8650c216189633b2,5a6aefc2fc8c662404282376" id="cn5b75a3ee8650c216189633b2" class="cn5a6aefc2fc8c662404282376" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b75a3ee8650c216189633b2" style="padding-left:0">Đơn vị tính</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5af541b32efc46044cac0b5d,5a6aefc2fc8c662404282376" id="cn5af541b32efc46044cac0b5d" class="cn5a6aefc2fc8c662404282376" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5af541b32efc46044cac0b5d" style="padding-left:0">Giá giống nông nghiệp</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b75a4418650c216189633b4,5a6aefc2fc8c662404282376" id="cn5b75a4418650c216189633b4" class="cn5a6aefc2fc8c662404282376" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b75a4418650c216189633b4" style="padding-left:0">Quản lý quy cách</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af164fc8c66240428237a,5a6aefc2fc8c662404282376" id="cn5a6af164fc8c66240428237a" class="cn5a6aefc2fc8c662404282376" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af164fc8c66240428237a" style="padding-left:0">Quản lý mặt hàng</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5ba343ac8650be1710bcd64e,5a6aefc2fc8c662404282376" id="cn5ba343ac8650be1710bcd64e" class="cn5a6aefc2fc8c662404282376" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5ba343ac8650be1710bcd64e" style="padding-left:0">Quản lý các loại giống</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af252fc8c66240428237b,0" id="cn5a6af252fc8c66240428237b" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af252fc8c66240428237b" style="padding-left:0">Trồng trọt &amp; BVTV</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b03cc7dade0b51a10797400,5a6af252fc8c66240428237b" id="cn5b03cc7dade0b51a10797400" class="cn5a6af252fc8c66240428237b" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b03cc7dade0b51a10797400" style="padding-left:0">Thông tin cho người dân</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af421fc8c66240428237c,5a6af252fc8c66240428237b" id="cn5a6af421fc8c66240428237c" class="cn5a6af252fc8c66240428237b" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af421fc8c66240428237c" style="padding-left:0">Thông tin báo cáo</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af453fc8c66240428237d,5a6af252fc8c66240428237b" id="cn5a6af453fc8c66240428237d" class="cn5a6af252fc8c66240428237b" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af453fc8c66240428237d" style="padding-left:0">Số liệu báo cáo</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5acf23df786702130c225406,5a6af252fc8c66240428237b" id="cn5acf23df786702130c225406" class="cn5a6af252fc8c66240428237b" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5acf23df786702130c225406" style="padding-left:0">Danh mục dữ liệu</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5bacac558650be1308d0ac45,5a6af252fc8c66240428237b" id="cn5bacac558650be1308d0ac45" class="cn5a6af252fc8c66240428237b" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5bacac558650be1308d0ac45" style="padding-left:0">Danh mục thuốc BVTV</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b75a6718650c216189633b7,5a6af252fc8c66240428237b" id="cn5b75a6718650c216189633b7" class="cn5a6af252fc8c66240428237b" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b75a6718650c216189633b7" style="padding-left:0">Danh mục cây trồng</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b75a5ee8650c216189633b6,5a6af252fc8c66240428237b" id="cn5b75a5ee8650c216189633b6" class="cn5a6af252fc8c66240428237b" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b75a5ee8650c216189633b6" style="padding-left:0">Danh mục sâu bệnh</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b75a5c88650c216189633b5,5a6af252fc8c66240428237b" id="cn5b75a5c88650c216189633b5" class="cn5a6af252fc8c66240428237b" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b75a5c88650c216189633b5" style="padding-left:0">Giai đoạn sinh trưởng cây trồng</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af4e5fc8c66240428237e,0" id="cn5a6af4e5fc8c66240428237e" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af4e5fc8c66240428237e" style="padding-left:0">Chăn nuôi và Thú y</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b0cf6817866f808d4a843f8,5a6af4e5fc8c66240428237e" id="cn5b0cf6817866f808d4a843f8" class="cn5a6af4e5fc8c66240428237e" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b0cf6817866f808d4a843f8" style="padding-left:0">Thông tin cho người dân</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af521fc8c66240428237f,5a6af4e5fc8c66240428237e" id="cn5a6af521fc8c66240428237f" class="cn5a6af4e5fc8c66240428237e" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af521fc8c66240428237f" style="padding-left:0">Thông tin báo cáo</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af551fc8c662404282380,5a6af4e5fc8c66240428237e" id="cn5a6af551fc8c662404282380" class="cn5a6af4e5fc8c66240428237e" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af551fc8c662404282380" style="padding-left:0">Số liệu báo cáo</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5ade6c3a7867051eb86ce7a4,5a6af4e5fc8c66240428237e" id="cn5ade6c3a7867051eb86ce7a4" class="cn5a6af4e5fc8c66240428237e" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5ade6c3a7867051eb86ce7a4" style="padding-left:0">Danh mục dữ liệu</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b75ac048650c216189633bb,5a6af4e5fc8c66240428237e" id="cn5b75ac048650c216189633bb" class="cn5a6af4e5fc8c66240428237e" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b75ac048650c216189633bb" style="padding-left:0">Quản lý hộ nuôi</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6affebfc8c66240428238a,0" id="cn5a6affebfc8c66240428238a" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6affebfc8c66240428238a" style="padding-left:0">Chi cục Thuỷ sản</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b9f681e8650f00dfc55f857,5a6affebfc8c66240428238a" id="cn5b9f681e8650f00dfc55f857" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b9f681e8650f00dfc55f857" style="padding-left:0">Thông tin báo cáo</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5bbec3883c92480928b61941,5a6affebfc8c66240428238a" id="cn5bbec3883c92480928b61941" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5bbec3883c92480928b61941" style="padding-left:0">Thông tin cho người dân</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6b003cfc8c66240428238b,5a6affebfc8c66240428238a" id="cn5a6b003cfc8c66240428238b" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6b003cfc8c66240428238b" style="padding-left:0">Thông tin hộ nuôi</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5ab4a0ea786712aad0e2b1f6,5a6affebfc8c66240428238a" id="cn5ab4a0ea786712aad0e2b1f6" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5ab4a0ea786712aad0e2b1f6" style="padding-left:0">Diện tích ao nuôi</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b1516f978670305b4f3866f,5a6affebfc8c66240428238a" id="cn5b1516f978670305b4f3866f" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b1516f978670305b4f3866f" style="padding-left:0">Thả giống &amp; Thu hoạch</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5ba9ba0d8650be21043d17fe,5a6affebfc8c66240428238a" id="cn5ba9ba0d8650be21043d17fe" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5ba9ba0d8650be21043d17fe" style="padding-left:0">Số liệu báo cáo</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5ab4a0bf786712aad0e2b1e7,5a6affebfc8c66240428238a" id="cn5ab4a0bf786712aad0e2b1e7" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5ab4a0bf786712aad0e2b1e7" style="padding-left:0">Báo cáo số liệu cấp huyện</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5af949703c925c0e90f457c4,5a6affebfc8c66240428238a" id="cn5af949703c925c0e90f457c4" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5af949703c925c0e90f457c4" style="padding-left:0">Đối tượng thả nuôi</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a7277a6fc8c6616f0ff1236,5a6affebfc8c66240428238a" id="cn5a7277a6fc8c6616f0ff1236" class="cn5a6affebfc8c66240428238a" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a7277a6fc8c6616f0ff1236" style="padding-left:0">Báo cáo số liệu cấp tỉnh</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6afe4afc8c662404282386,0" id="cn5a6afe4afc8c662404282386" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6afe4afc8c662404282386" style="padding-left:0">Thông tin môi trường</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6afe83fc8c662404282387,5a6afe4afc8c662404282386" id="cn5a6afe83fc8c662404282387" class="cn5a6afe4afc8c662404282386" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6afe83fc8c662404282387" style="padding-left:0">Quản lý thiết bị</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af691fc8c662404282381,0" id="cn5a6af691fc8c662404282381" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af691fc8c662404282381" style="padding-left:0">Thông tin khuyến nông</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6afa5dfc8c662404282383,5a6af691fc8c662404282381" id="cn5a6afa5dfc8c662404282383" class="cn5a6af691fc8c662404282381" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6afa5dfc8c662404282383" style="padding-left:0">Thời tiết nông vụ</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6afac7fc8c662404282384,5a6af691fc8c662404282381" id="cn5a6afac7fc8c662404282384" class="cn5a6af691fc8c662404282381" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6afac7fc8c662404282384" style="padding-left:0">Kỹ thuật SX nông nghiệp</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6afb05fc8c662404282385,5a6af691fc8c662404282381" id="cn5a6afb05fc8c662404282385" class="cn5a6af691fc8c662404282381" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6afb05fc8c662404282385" style="padding-left:0">Bản tin truyền hình</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b4c7cca7866f82584746d48,5a6af691fc8c662404282381" id="cn5b4c7cca7866f82584746d48" class="cn5a6af691fc8c662404282381" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b4c7cca7866f82584746d48" style="padding-left:0">Mô hình SX có hiệu quả</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6afed2fc8c662404282388,0" id="cn5a6afed2fc8c662404282388" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6afed2fc8c662404282388" style="padding-left:0">Phản ánh nhanh</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6b023dfc8c66240428238c,5a6afed2fc8c662404282388" id="cn5a6b023dfc8c66240428238c" class="cn5a6afed2fc8c662404282388" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6b023dfc8c66240428238c" style="padding-left:0">Phản ánh từ người dân</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6affc5fc8c662404282389,0" id="cn5a6affc5fc8c662404282389" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6affc5fc8c662404282389" style="padding-left:0">Chỉ đạo điều hành</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b62c1198650c409f05b12ed,5a6affc5fc8c662404282389" id="cn5b62c1198650c409f05b12ed" class="cn5a6affc5fc8c662404282389" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b62c1198650c409f05b12ed" style="padding-left:0">Thông tin chỉ đạo</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5bd27b168650be274826c546,0" id="cn5bd27b168650be274826c546" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5bd27b168650be274826c546" style="padding-left:0">Thông báo khẩn</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6af6c8fc8c662404282382,5bd27b168650be274826c546" id="cn5a6af6c8fc8c662404282382" class="cn5bd27b168650be274826c546" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6af6c8fc8c662404282382" style="padding-left:0">Thông báo khẩn cấp</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a5c888518e6d93be0a59ec1,0" id="cn5a5c888518e6d93be0a59ec1" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a5c888518e6d93be0a59ec1" style="padding-left:0">Cấu hình hệ thống</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a693ddd18e6db24b8ec8d61,5a5c888518e6d93be0a59ec1" id="cn5a693ddd18e6db24b8ec8d61" class="cn5a5c888518e6d93be0a59ec1" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a693ddd18e6db24b8ec8d61" style="padding-left:0">Quản lý người dùng</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5a6aee1efc8c662404282375,5a5c888518e6d93be0a59ec1" id="cn5a6aee1efc8c662404282375" class="cn5a5c888518e6d93be0a59ec1" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5a6aee1efc8c662404282375" style="padding-left:0">Quản lý chức năng</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b758ab58650c216189633a8,5a5c888518e6d93be0a59ec1" id="cn5b758ab58650c216189633a8" class="cn5a5c888518e6d93be0a59ec1" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b758ab58650c216189633a8" style="padding-left:0">Thống kê sử dụng mobile</label></li></ul></li>
                        </ol>
                    </div>
                </div>
                <div class="tab-pane container-fluid p-0" id="Mobile">
                    <div class="scrollbar scrollbar-custom" style="max-height:600px;">
                        <ol id="listCN_Mobile" style="list-style-type:none;" class="p-0">
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5bbec35d3c92480928b61940,0" id="cn5bbec35d3c92480928b61940" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5bbec35d3c92480928b61940" style="padding-left:0">[Mobile]Giá cả thị trường</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf74a37866f81884202d22,5bbec35d3c92480928b61940" id="cn5adf74a37866f81884202d22" class="cn5bbec35d3c92480928b61940" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf74a37866f81884202d22" style="padding-left:0">[Mobile] Giá cả thị trường</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf74f37866f81884202d23,5bbec35d3c92480928b61940" id="cn5adf74f37866f81884202d23" class="cn5bbec35d3c92480928b61940" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf74f37866f81884202d23" style="padding-left:0">[Mobile] Giá giống nông nghiệp</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5afe871285d66cc01f59dfc3,5bbec35d3c92480928b61940" id="cn5afe871285d66cc01f59dfc3" class="cn5bbec35d3c92480928b61940" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5afe871285d66cc01f59dfc3" style="padding-left:0">[Mobile] Giá Các Tỉnh Lân Cận</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5afe873a85d66cc01f59dfe8,5bbec35d3c92480928b61940" id="cn5afe873a85d66cc01f59dfe8" class="cn5bbec35d3c92480928b61940" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5afe873a85d66cc01f59dfe8" style="padding-left:0">[Mobile] Giá Hiệp Hội</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5bd274e58650be274826c53c,0" id="cn5bd274e58650be274826c53c" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5bd274e58650be274826c53c" style="padding-left:0">[Mobile]Thông báo khẩn</label></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5bc014214142a2bc840b23ed,0" id="cn5bc014214142a2bc840b23ed" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5bc014214142a2bc840b23ed" style="padding-left:0">[Mobile]Thông Tin Thủy Sản</label></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf73fb7866f81884202d21,0" id="cn5adf73fb7866f81884202d21" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf73fb7866f81884202d21" style="padding-left:0">[Mobile] Thông tin sản xuất và trồng trọt</label></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf75527866f81884202d25,0" id="cn5adf75527866f81884202d25" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf75527866f81884202d25" style="padding-left:0">[Mobile] Thông tin chăn nuôi và thú y</label></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5bc01c044142a2bc840b2794,0" id="cn5bc01c044142a2bc840b2794" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5bc01c044142a2bc840b2794" style="padding-left:0">[Mobile] Thông tin khuyến nông</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf75ca7866f81884202d29,5bc01c044142a2bc840b2794" id="cn5adf75ca7866f81884202d29" class="cn5bc01c044142a2bc840b2794" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf75ca7866f81884202d29" style="padding-left:0">[Mobile] Kỹ thuật nuôi trồng</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf75df7866f81884202d2a,5bc01c044142a2bc840b2794" id="cn5adf75df7866f81884202d2a" class="cn5bc01c044142a2bc840b2794" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf75df7866f81884202d2a" style="padding-left:0">[Mobile] Bản tin truyền hình</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5bc0191a4142a2bc840b264e,5bc01c044142a2bc840b2794" id="cn5bc0191a4142a2bc840b264e" class="cn5bc01c044142a2bc840b2794" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5bc0191a4142a2bc840b264e" style="padding-left:0">[Mobile] Mô hình sản xuất có hiệu quả</label></li></ul></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf75b27866f81884202d28,0" id="cn5adf75b27866f81884202d28" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf75b27866f81884202d28" style="padding-left:0">[Mobile] Thời tiết nông vụ</label></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adfc0207866f812cc6660ce,0" id="cn5adfc0207866f812cc6660ce" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adfc0207866f812cc6660ce" style="padding-left:0">[Mobile] Thông tin môi trường</label></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adfc2957866f812cc6660cf,0" id="cn5adfc2957866f812cc6660cf" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adfc2957866f812cc6660cf" style="padding-left:0">[Mobile] Thông tin phản ánh</label></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adfc2b17866f812cc6660d0,0" id="cn5adfc2b17866f812cc6660d0" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adfc2b17866f812cc6660d0" style="padding-left:0">[Mobile] Thông tin chỉ đạo</label></li>
                            <li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5b55b786a8c168eba3bfd84d,0" id="cn5b55b786a8c168eba3bfd84d" class="cn0" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5b55b786a8c168eba3bfd84d" style="padding-left:0">[Mobile] Dữ liệu nông nghiệp</label><ul style="list-style-type:none"><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf752f7866f81884202d24,5b55b786a8c168eba3bfd84d" id="cn5adf752f7866f81884202d24" class="cn5b55b786a8c168eba3bfd84d" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf752f7866f81884202d24" style="padding-left:0">[Mobile] Số liệu sản xuất và trồng trọt</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adf757c7866f81884202d26,5b55b786a8c168eba3bfd84d" id="cn5adf757c7866f81884202d26" class="cn5b55b786a8c168eba3bfd84d" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adf757c7866f81884202d26" style="padding-left:0">[Mobile] Số liệu chăn nuôi và thú y</label></li><li class="checkbox" style="padding-top:0"><input type="checkbox" name="IdChucNangs" value="5adfc8ba7866f812cc6660d1,5b55b786a8c168eba3bfd84d" id="cn5adfc8ba7866f812cc6660d1" class="cn5b55b786a8c168eba3bfd84d" onchange="Xuly_checkbox_chucnang(this)"><label for="cn5adfc8ba7866f812cc6660d1" style="padding-left:0">[Mobile] Số liệu nuôi tôm</label></li></ul></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Styles{
    <style>
        #listCN_Web {
            background-color: antiquewhite;
        }

            #listCN_Web > li div {
                background-color: antiquewhite;
            }

                #listCN_Web > li div:hover {
                    background-color: burlywood;
                }

            #listCN_Web > li ul li div {
                background-color: antiquewhite;
            }

                #listCN_Web > li ul li div:hover {
                    background-color: burlywood;
                }
    </style>
}
@section Scripts {
    <script src="~/Scripts/cscpda-ams/jquery-ams-createlist.js"></script>
}

