
@using Common.Utilities;
@using Common.Enum
@using MVCProjectStructure.Helpers;
@model IEnumerable<MVCProjectStructure.Areas.QuanLyHost.Models.HostModel.ThongTin>
@{
    int stt = 1;
    // int stt = 0;
}
@if (TempData["Error"] != null)
{
    Html.RenderPartial("_AlertPartial");
}

@if (Model != null)
{
    <div class="col-md-12 khoang-cach-0 canh-le">
        <div id="bang-bieu" style="color:#2B2B2B; margin:5px 0px 15px 0px;">
            <div class="scrollbar scrollbar-custom">
                <table class="col-sm-12 table-bordered table-striped table-condensed" style="padding:0px; width:100%; font-size:14px;">
                    <thead>
                        <tr class="chieu-cao" style="background-color:#ffffff; color:#49491A; font-size:14px; font-weight:bold; text-align:center">
                            <th style="width:10px; text-align:center"><input type='checkbox' id="chonXoaTatCa" title="Chọn xóa tất cả" /></th>
                            <th style="width:20px; text-align:center">STT</th>
                            <th style="text-align:center;">Name</th>
                            <th style="text-align:center;">Description</th>
                            <th style="text-align: center;">Applications</th>
                            <th style="text-align:center;">Items</th>
                            <th style="text-align:center;">Triggers</th>
                            <th style="text-align:center;">Graphs</th>
                            <th style="text-align:center;">Discovery</th>
                            <th style="text-align:center;">Interface</th>
                            <th style="text-align:center;">
                                Status
                            </th>
                            <th style="text-align:center;">Availability</th>

                            @*<th style="width:4%">&nbsp;</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="tr_@item.hostid">
                                <td style="text-align:center">
                                    <input type='checkbox' class="checkbox_xoa" onchange="Xulycheckbox()" value="@item.hostid" title="Chọn xóa" id="@item.hostid" name="IDs" />
                                    @*<div class="visible-xs-inline visible-sm-inline">
                                            <label for="@item.Id" style="display:inline!important">Chọn xóa</label>
                                        </div>*@
                                </td>
                                <td data-title="STT" style="text-align:center">@(stt++)</td>

                                <td data-title="Tiêu đề" style="text-align: left" id="@item.hostid" ><a href="@Url.Action("ThongTinThemCapNhat", "QuanLyHost",new {area ="QuanLyHost",HostId=item.hostid})">@item.name</a></td>
                                <td data-title="Nội dung tóm tắt" style="text-align:left">@item.description</td>
                                <td data-title="Nội dung tóm tắt" style="text-align:left">@item.applications.Count</td>
                                <td data-title="Thông báo" style="text-align:center">
                                    @item.items.Count
                                </td>
                                <td data-title="Kích hoạt" style="text-align:center">
                                    @item.triggers.Count
                                </td>
                                <td data-title="Người cập nhật" style="text-align:left">@item.graphs.Count</td>
                                <td data-title="Người cập nhật" style="text-align:left">@item.discoveries.Count</td>
                                <td data-title="Người cập nhật" style="text-align:left">@(item.interfaces.FirstOrDefault().ip.ToString() + ':' + item.interfaces.FirstOrDefault().port.ToString())</td>
                                <td data-title="Người cập nhật" style="text-align:left">
                                    @(item.status != 1?"Enabled":"Disabled")
                                       
                                </td>

                                <td>
                                    <div class="status-container" style="text-align:center;">
                                        @if (item.interfaces[0].type == 1 && item.available == "1")
                                        {
                                            <span class="status-green">zbx</span>
                                            <span class="status-grey">snmp</span>
                                            <span class="status-grey">jmx</span>
                                            <span class="status-grey">ipmi</span>
                                        }
                                        else if (item.interfaces[0].type == 2 && item.available == "1")
                                        {
                                            <span class="status-grey">zbx</span>
                                            <span class="status-green">snmp</span>
                                            <span class="status-grey">jmx</span>
                                            <span class="status-grey">ipmi</span>
                                        }
                                        else if (item.interfaces[0].type == 3 && item.available == "1")
                                        {
                                            <span class="status-grey">zbx</span>
                                            <span class="status-grey">snmp</span>
                                            <span class="status-green">jmx</span>
                                            <span class="status-grey">ipmi</span>
                                        }
                                        else if (item.interfaces[0].type == 4 && item.available == "1")
                                        {
                                            <span class="status-grey">zbx</span>
                                            <span class="status-grey">snmp</span>
                                            <span class="status-grey">jmx</span>
                                            <span class="status-green">ipmi</span>
                                        }
                                        else
                                        {
                                            <span class="status-grey">zbx</span>
                                            <span class="status-grey">snmp</span>
                                            <span class="status-grey">jmx</span>
                                            <span class="status-grey">ipmi</span>
                                        }


                                    </div>
                                </td>
                                @*<td data-title="&nbsp;" style="text-align:center">
                                        <button type="button" id="@item.Id" class="btn btn-sm btn-success edit" title="Hiệu chỉnh thông tin" onclick="ChinhSua(this.id)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="clear:both"></div>
        </div>
        @*@{
                if (Model != null)
                {
                    string duongDan = Url.Action("XemDanhSach", "ThongBaoKhan", new { area = "ThongBaoKhan" });
                    string kq = XuLyPhanTrang.TaoPhanTrang(Model.TongSoTrang, Model.TrangHienTai, duongDan, ViewBag.DanhSachThamSo);
                    @Html.Raw(kq);
                }
            }*@
        <div style="clear:both"></div>

        @if (TempData["Success"] != null)
        {
            @Html.Partial("_DialogSuccessPartial", (string)TempData["Success"])
        }
    </div>
}

<!-- KhungYouTube-->
<div class="modal fade" id="KhungYouTube" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00ADEE; color:#ffffff">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title">Bản tin truyền hình</h4>
            </div>
            <div class="modal-body">
                <iframe id="iframeYoutube" width="560" height="315" style="width:100%;" src="" frameborder="0" allowfullscreen></iframe>
                <div style="clear:both"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-embossed" style="background-color:#00ADEE; color:#ffffff; padding:5px 10px" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- /KhungYouTube-->


<script>


    $('#chonXoaTatCa').change(function () {
        $('.checkbox_xoa').not(this).prop('checked', this.checked);
        Xulycheckbox()
    });

    function Xulycheckbox() {
        var chk = $('.checkbox_xoa:checkbox:checked').length
        var c = $('.checkbox_xoa').length
        if (chk > 0) {
            $("#btnXoa")[0].disabled = false;
        } else {
            $("#btnXoa")[0].disabled = true;
        }
        if (chk == c) {
            $('#chonXoaTatCa').prop('checked', true)
        } else {
            $('#chonXoaTatCa').prop('checked', false)
        }
    }
</script>

